* {
    box-sizing: border-box;
}
.header {
    background-color: red;
    /*height:200px;*/
}

.initials {
    font-size: 2.5rem;
    color: white;
}

.text h3 {
    font-family: "Comic Sans MS";
}
.menu {
    height:360px;
}
.menu-underline {
    border: 1px solid red;
    width: 30%;
    margin: -5px 0 10px 0;
}

.main-list a{
    display: block;
    position: relative;

}

.main-list svg.svg-inline--fa {
    position: absolute;
    right:100px;
    top: 50%;
    transform: translateY(-50%);
    display:block;


}
.state1{
    left:0;
    position:relative;
    transition: left 5s;
}

.state2{
    left:100%;
    position:relative;
    transition: left 5s;
}
#headline{
    background-color:red;
    color:white;
    margin-bottom: 4px;
    text-transform: capitalize;
}
.slider {
    width:100%;
}
.pics {
    margin-top: -140px;
}
hr{
    width:100%;
    border: 2px solid white;
}
.socket {
    color:white;
    text-align: center;
}
.skt {
    display: block;
    margin-top: 30px!important;
    font-size: 20px;
}
.skt-ft {
    font-family: "Comic Sans MS";
    font-size: 20px;
}
.hobby-header,.project-header {
    font-size: 35px;
}
.hobby-underline,.project-underline {
    text-align: center!important;
    border: 1px solid black;
    width:40%;
    margin:-5px auto 0;
}
.hobby {
    margin-top: 45px;
}