.narrow {
    height: 2.7rem;
    position: relative;
    float: left;
    top: 0;
    margin-top: 0;
    overflow: hidden;
}

.border svg.svg-inline--fa {
    font-size: 1.7rem;
}

.border a:hover {
    background-color: rgba(0, 47, 255, 0.705);

}


.border div {
    border-right: 1px solid blue;
    height: 100%;
}

.border {
    height: 38px;
    margin-left: -260px;
    transition: all 2s ease;
}


.btn {
    border-radius: 0;
    float: left;
}

.outer-wrap {
    position: relative;
    margin-top: 1rem !important;
    margin-left: 3rem !important;
    overflow: hidden;
}

.inner-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    /*clear: both;*/
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.inner-transition {
    transition: all 2s ease;
    margin-left: 0;
}